@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Document */

body {
    font-family: 'Montserrat', sans-serif !important;
}


/* Desabilitar seleção de texto e eventos de clique em todo o site */
body {
    user-select: none;
    pointer-events: none;
}

/* Permitir seleção de texto e eventos de clique nos botões específicos */
.an,.cta{
    user-select: text;
    pointer-events: auto;
}
/* Permitir seleção de texto e eventos de clique nos botões específicos */
/* baner */

 .banner {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #c21b19 22%, #fff 19%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    align-items: center;
    z-index: 9999;
    opacity: 0; /* Inicialmente oculto com opacidade 0 */
    visibility: hidden; /* Também oculto com visibilidade escondida */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Adicionando uma transição suave */
  }
  .topo-02 h1{
    text-align: center;
  }
.ad{
    font-weight: 400;
    background: #950d0d;
    text-align: center;
    color: #fff;
    padding: 5px;
}
  .banner-image {
    flex: 1;
    padding-right: 30px;
  }

  .banner-image img {
    max-width: 100%;
    height: auto;
    margin: 0 0 0 5px;
  }

  .banner-text {
    flex: 1;
  }

  .banner-text h2 {
    font-size: 13px;
    color: #000;
    margin: 5px 6px 4px -9em;
  }
  @media (max-width: 768px) {
  h1 {
    font-size: calc(0.375rem + 3.5vw) !important;
  }
}


  /* Estilos para PCs */
  @media screen and (min-width: 769px) {
    .banner {
       background-image: linear-gradient(to right, #c21b19 11%, #fff 11%);
       box-shadow: 0 0 10px rgba(0, 0, 0, 1);
       align-items: center;
       z-index: 9999;
       opacity: 0; /* Inicialmente oculto com opacidade 0 */
       visibility: hidden; /* Também oculto com visibilidade escondida */
       transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Adicionando uma transição suave */
    }
    .banner-image {
      flex: 0.1;
      margin: 0 0 0 4em;
    }

    .banner-image img {
      max-width: 100%;
      height: auto;
    }

    .banner-text {
      flex: 1;
    }

    .banner-text h2 {
      font-size: 24px;
      color: #000;
      margin: 10px 0;
    }
  }
  
/* baner */

/* Topo */
header#topo {
    clear: both;
    display: block;
    overflow: hidden;
    margin: 0 auto 50px auto;
}
section.topo-01 {
    background: #f3f3f3;
    padding: 10px 0;
}
.topo-01.row {
    display: block !important;
    overflow: hidden !important;
}
img.m1-img {
    float: left;
}
img.m2-img {
    float: right;
}
section.topo-02 {
    background: #C4170C;
    padding: 15px;
    color: #ffffff;
}
img.m3-img {
    margin-top: 12px;
    float: left;
}
img.m4-img {
    width: 40px;
    height: 46px;
    margin: 0 50%;
}
img.m5-img {
    margin-top: 4px;
    float: right;
}
.separate-materia {
    clear: both;
    display: block;
    overflow: hidden;
    border-bottom: solid 1px #fafafa;
    padding: 0 0 15px 0;
    margin: 30px 0 15px 0;
}
.separate-materia span {
    float: left;
}
img.social-icons {
    float: right;
    width: 20%;
}
/* Topo */

/* Bloco de conteúdo do ADV + Comentários */
section.materia {width: 38%; /* Largura personalizável */margin: auto; /* Centralização horizontal */}
section.materia a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}
section.materia h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -1.3px;
    margin: 20px 0 30px 0;
    text-align: left;
}
section.materia h3 {
    color: #7c7c7c;
    font-size: 18px;
}
section.materia h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}
section.materia h4 {
    text-align: center;
    color: #C4170C;
    font-weight: 600;
    line-height: 1.7;
    font-size: 25px;
    margin: 35px auto;
}
section.materia h4 strong {
    text-align: center;
    color: #000000;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}
section.materia p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1.5em;
}
img.comentarios-g1-img {
    width: 60%;
    clear: both;
    display: block;
    margin: auto;
}
section.materia span {
    clear: both;
    display: block;
    font-size: 12px;
    color: #a3a3a3;
    margin-bottom: 15px;
}
section.materia span svg {
    fill: #C4170C;
    margin-top: -2px;
}
img.potes2 {
    clear: both;
    display: block;
    width: 70%;
    margin: auto;
}
img.potes-materia {
    clear: both;
    display: block;
    width: 75%;
    margin: 20px auto;
}
.degrade {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,110,1) 100%);
}
img.pote-cta {
    clear: both;
    display: block;
    overflow: hidden;
    width: 40%;
    margin: auto;
    padding: 20px 0;
}
a.cta {
    background: #41ce16;
    clear: both;
    display: block;
    text-align: center;
    color: #ffffff !important;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 0;
    margin: 30px auto;
    width: 50%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.comentarios-g1 {
    border-top: solid 5px #F7F7F7;
    padding-top: 50px;
    width: 75%;
    margin: 50px auto 0 auto;
}
.comentarios-g1 h1 {
    font-size: 30px;
    font-weight: 400;
    border-bottom: solid 1px #E0E0E5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.comentarios-g1 p {
    font-size: 12px;
    margin-bottom: 30px;
}
comentario-conteudo h2 {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}
.comentario-conteudo h3 {
    color: #999999;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}
.op{
    font-size: 2.25rem;
    font-weight: 900;
    opacity: 50%;
}
.comentario-conteudo p {
    color: #666666;
    font-size: 14px;
    margin: 0;
}
p.fim-comentarios {
    background: #EDEDED;
    color: #333333;
    font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.comentario-item {
    clear: both;
    display: flex;
    margin-bottom: 30px;
}
img.ft-cm-1, img.ft-cm-2, img.ft-cm-3, img.ft-cm-4 {
    margin-right: 20px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}
img.ft-cm-1, img.ft-cm-4 {
    clear: both;
    width: 65px;
    height: 65px;
}
img.ft-cm-2, img.ft-cm-3 {
    clear: both;
    width: 40px;
    height: 40px;
}
span.line-comentarios {
    clear: both;
    display: block;
    height: 1px;
    background: #000000;
    margin: 0 0 50px 0;
    padding: 0;
}
/* Bloco de conteúdo do ADV + Comentários */

/* Rodapé */
footer#rodape {
    background: #c4170c;
    padding: 10px;
    margin: 50px auto 0 auto;
}
img.f1-img {
    margin-bottom: 15px;
}
img.f1-img, img.f2-img {
    float: left;
}
img.f3-img {
    float: right;
}
/* Rodapé */
@media screen and (max-width : 970px) {
    .col-md-4.col-lg-4.col-sm-4.col-xs-4.item-topo-02 {
        width: 33% !important;
    }
    img.m4-img {
        width: 33px;
        height: auto;
        margin: 0 auto;
        clear: both;
        display: block;
    }
    img.m5-img {
        margin-top: 8px;
        float: none;
        clear: both;
        display: block;
        width: 100%;
    }
    .separate-materia {
        display: flex;
    }
    img.social-icons {
        float: right;
        width: 40%;
        height: 100%;
    }
    img.m1-img {
        float: none;
        clear: both;
        display: block;
        margin: 0 auto 10px auto;
    }
    img.m2-img {
        float: none;
        clear: both;
        display: block;
        margin: auto;
    }   
    section.materia {
    width: 100%; /* Largura total */
    margin: 0; /* Removendo as margens automáticas */
    padding: 0 10px; /* Espaçamento personalizado nas laterais */
    }
    a.cta {
        width: 100%;
    }
    img.comentarios-g1-img {
        width: 100%;    
    }
    .comentarios-g1 {
        width: 90%;
    }
}

